@font-face {
  font-family: 'ShareTechMono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('ShareTechMono'), local('ShareTechMono-Regular'),
    url('../fonts/ShareTechMono/ShareTechMono-Regular.woff2') format('woff2'),
    url('../fonts/ShareTechMono/ShareTechMono-Regular.woff') format('woff');
}
