@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('PressStart2P'), local('PressStart2P-Regular'),
    url('../fonts/PressStart2P/PressStart2P-Regular.woff2') format('woff2'),
    url('../fonts/PressStart2P/PressStart2P-Regular.woff') format('woff');
}
