@font-face {
  font-family: 'BlackOpsOne';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('BlackOpsOne'), local('BlackOpsOne-Regular'),
    url('../fonts/BlackOpsOne/BlackOpsOne-Regular.woff2') format('woff2'),
    url('../fonts/BlackOpsOne/BlackOpsOne-Regular.woff') format('woff');
}
