.card {
  cursor: url(/hammer.png) 30 20, auto;
  position: relative;

  &__infos {
    position: absolute;
    top: 1.5rem;
    padding: 0 2rem;
    width: 100%;

    &__item {
      border: 1px white solid;
      min-width: 120px;
    }
  }

  &__content {
    position: relative;
    top: -1.5rem;

    &__line {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .image {
        width: 96px;
        height: 96px;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
      }
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
