.items-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  .item {
    --w: 10%;
    --h: 10%;
    --t: 10%;
    --l: 10%;
    top: var(--t);
    left: var(--l);
    width: var(--w);
    height: var(--h);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    &--up {
      // box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      //   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    &-alarm {
      --w: 4%;
      --h: 6%;
      --t: 60%;
      --l: 67%;

      --dt: 5px;
      --db: -1px;
      --dx: 5px;
    }
    &-boat {
      --w: 9%;
      --h: 16%;
      --t: 53.5%;
      --l: 48%;

      --dt: 5px;
      --db: -1px;
      --dx: 5px;
    }
    &-book {
      --w: 6%;
      --h: 10%;
      --t: 44%;
      --l: 79.5%;

      --dt: -5px;
      --db: -1px;
      --dx: 5px;

      transform: rotate(-45deg);
    }
    &-candle {
      --w: 10%;
      --h: 13%;
      --t: 63%;
      --l: 26%;

      --dt: 5px;
      --db: -1px;
      --dx: 5px;
    }
    &-charger {
      --w: 13%;
      --h: 17%;
      --t: 77%;
      --l: 85%;

      --dt: -5px;
      --db: 1px;
      --dx: 5px;
    }
    &-cup {
      --w: 7%;
      --h: 11%;
      --t: 65%;
      --l: 40%;

      --dt: 5px;
      --db: -1px;
      --dx: 5px;
    }
    &-key {
      --w: 8%;
      --h: 13%;
      --t: 22%;
      --l: 3%;

      --dt: -5px;
      --db: -1px;
      --dx: 5px;
    }
    &-pillow {
      --w: 12%;
      --h: 19%;
      --t: 61%;
      --l: 85%;

      --dt: 5px;
      --db: 5px;
      --dx: 5px;
    }

    &-carpet {
      --w: 45%;
      --h: 20%;
      --t: 80%;
      --l: 55%;
      z-index: 1;

      &--up {
        --w: 65%;
        --h: 24%;
        --t: 82%;
        --l: 69%;
        overflow: visible;

        --dt: 5px;
        --db: 5px;
        --dx: 5px;

        transform: rotate(7deg);
      }

      img {
        object-fit: unset !important;
      }
    }

    &-privacy-part-2 {
      --w: 8%;
      --h: 15%;
      --t: 49%;
      --l: 1%;

      @media (max-width: 1366px) {
        --w: 6%;
        --h: 12%;
        --t: 42%;
        --l: 0%;
      }

      @media (min-width: 2000px) {
        --w: 7%;
        --h: 12%;
        --t: 30%;
        --l: -6%;
        transform: rotate(32deg);
      }

      @media (min-height: 760px) and (max-height: 830px) {
        --w: 8%;
        --h: 15%;
        --t: 38%;
        --l: -4%;
      }

      @media (max-height: 759px) {
        --w: 6%;
        --h: 12%;
        --t: 32%;
        --l: -4%;
        transform: rotate(32deg);
      }

      @media (min-width: 1700px) and (max-width: 1999px) {
        --w: 7%;
        --h: 12%;
        --t: 30%;
        --l: -6%;
        transform: rotate(32deg);
      }

      --dt: 5px;
      --db: 5px;
      --dx: 5px;

      z-index: 0;
      transform: rotate(25deg);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(var(--dt) var(--db) var(--dx) #111);
      -webkit-filter: drop-shadow(var(--dt) var(--db) var(--dx) #111);
      -moz-filter: drop-shadow(var(--dt) var(--db) var(--dx) #111);
      -ms-filter: drop-shadow(var(--dt) var(--db) var(--dx) #111);
      -o-filter: drop-shadow(var(--dt) var(--db) var(--dx) #111);
    }
  }
}

.privacy-btn {
  position: absolute;
  right: 50px !important;
  bottom: 20px;
}
