@font-face {
  font-family: 'ShadowsIntoLight';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('ShadowsIntoLight'), local('ShadowsIntoLight-Regular'),
    url('../fonts/ShadowsIntoLight/ShadowsIntoLight-Regular.woff2')
      format('woff2'),
    url('../fonts/ShadowsIntoLight/ShadowsIntoLight-Regular.woff')
      format('woff');
}
