.login-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.info-screen {
  .v-card__title {
    // color: #444c61;
    font-size: 30px;
  }

  .v-card__text {
    color: #444c61;
    opacity: 1;
  }
}
