@font-face {
  font-family: 'OdibeeSans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('OdibeeSans'), local('OdibeeSans-Regular'),
    url('../fonts/OdibeeSans/OdibeeSans-Regular.woff2') format('woff2'),
    url('../fonts/OdibeeSans/OdibeeSans-Regular.woff') format('woff');
}
